{% extends 'base.html' %}

{% block content %}
<div class="container mt-5">
  <div class="row">
    <div class="col-md-12">
      <h1>Editar Automovil "{{ Automovil.nombre }}"</h1>
      <form action={% url 'editar_Automovil' automovil.id %} method="POST">
        {% csrf_token %}
        {{form.media}}
        {{form.as_p}}
        <button type="submit" class="btn btn-primary mt-3">Guardar cambios</button>
      </form>
      <a href="{% url 'lista_Automoviles' %}" class="btn btn-secondary mt-3">Volver</a>
    </div>
  </div>
</div>
{% endblock %}
