{% extends 'base.html' %}

{% block content %}
<div class="container mt-5">
  <div class="row">
    <div class="col-md-12">
      <h1>Lista de Automoviles</h1>
      {% if Automoviles %}
      <table class="table">
        <thead>
          <tr>
            <th>Marca</th>
            <th>Modelo</th>
            <th>Anio</th>
            <th>Precio</th>
            <th>Descripcion</th>
            <th>Fecha Ingreso</th>
            <th>Accion</th>


          </tr>
        </thead>
        <tbody>
          {% for Automovil in Automoviles %}
          <tr>
            <td>{{ Automovil.marca }}</td>
            <td>{{ Automovil.modelo }}</td>
            <td>{{ Automovil.anio }}</td>
            <td>{{ Automovil.precio }}</td>
            <td>{{ Automovil.descripcion|safe }}</td>
            <td>{{ Automovil.fecha_ingreso }}</td>
            <td>
              <a href="{% url 'detalle_Automovil' Automovil.id %}" class="btn btn-sm btn-success">Detalles</a>
              {% if request.user.is_authenticated %}
                  <a href="{% url 'editar_Automovil' Automovil.id %}" class="btn btn-sm btn-primary">Editar</a>
                  <a href="{% url 'eliminar_Automovil' Automovil.id %}" class="btn btn-sm btn-danger" onclick="return confirm('¿Estás seguro de que deseas eliminar este Automovil?')">Eliminar</a>
                  {% endif %}
          </td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
      {%else%}
      <h3>No hay Automoviles todavia</h3>
      {% endif %}
      {% if request.user.is_authenticated %}
      <a href="{% url 'agregar_Automovil' %}" class="btn btn-primary mt-3">Agregar Automovil</a>
      {% endif %}
      <a href="{% url 'index' %}" class="btn btn-secondary mt-3">Volver</a>
    </div>
  </div>
</div>
{% endblock %}
